@import "react-toastify/dist/ReactToastify.css";

/* Reset global */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scrolls dobles */
  background-color: #fff;
}

/* Clases útiles para estilizar el mapa y los scrollbars */
.map-pro .leaflet-container {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}