@import "tailwindcss";

/* Esto es para que el mapa ocupe el lugar correcto */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Para que los locales de abajo se puedan scrollear sin ver la barra */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}